<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    <div class="background_color">
      <%= el.render :background_color %>
    </div>
    <div class="text">
      <%= el.render :text %>
    </div>
    <div class="stamp_image">
      <%= el.render :stamp_image %>
    </div>
    <div class="google_analytics_event_label">
      <%= el.render :google_analytics_event_label %>
    </div>
    <div class="mailchimp_list_id">
      <%= el.render :mailchimp_list_id %>
    </div>
  <%- end -%>
<%- end -%>
