<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    <div class="essay_superheader">
      <%= el.render :essay_superheader %>
    </div>
    <div class="article_title">
      <%= el.render :article_title %>
    </div>
    <div class="intro_blurb">
      <%= el.render :intro_blurb %>
    </div>
    <%- element.contents.where(name: ['credit_title', 'credit_author']).each do |content| -%>
      <%= render_essence_view(content) %>
    <%- end -%>
  <%- end -%>
<%- end -%>
