<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    <div class="background_color">
      <%= el.render :background_color %>
    </div>
    <div class="superheader">
      <%= el.render :superheader %>
    </div>
    <div class="text">
      <%= el.render :text %>
    </div>
    <div class="text_color">
      <%= el.render :text_color %>
    </div>
    <div class="page_link">
      <%= el.render :page_link %>
    </div>
    <div class="stamp_image">
      <%= el.render :stamp_image %>
    </div>
  <%- end -%>
<%- end -%>
