<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    <div class="quote">
      <%= el.render :quote %>
    </div>
    <div class="author">
      <%= el.render :author %>
    </div>
    <div class="background_color">
      <%= el.render :background_color %>
    </div>
    <div class="image">
      <%= el.render :image %>
    </div>
    <div class="page_link">
      <%= el.render :page_link %>
    </div>
    <div class="text_color">
      <%= el.render :text_color %>
    </div>
    <div class="quote_text_size">
      <%= el.render :quote_text_size %>
    </div>
    <div class="author_text_size">
      <%= el.render :author_text_size %>
    </div>
  <%- end -%>
<%- end -%>
